#foreach($f in $fields)
   @FindBy($f.getIdentifier() = "$f.getValue()")
   #if($f.isListType() == true)
    private List<WebElement> $f.getName();
   #else
    private WebElement $f.getName();
   #end
#end